<div class="my-2 md:my-0 md:mx-2">
  <div class=" w-full h-px md:w-px md:h-4 bg-gray-100 md:bg-gray-300 dark:bg-neutral-700 "></div>
</div>
<% if user_signed_in? %>
  <div class=" flex flex-wrap items-center gap-x-1.5">
    <p class=" py-[7px] px-2.5 inline-flex items-center font-medium text-sm rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 focus:outline-none focus:bg-gray-100 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
      <%= link_to("Log out :)", destroy_user_session_path, method: :delete) %>
    </p>
    <a class=" py-2 px-2.5 inline-flex items-center font-medium text-sm rounded-lg bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:bg-blue-600 " href="<%= edit_user_registration_path %>">
      <%= t('profile') %>
    </a>
  </div>
  <div class="flex flex-wrap items-center ml-3">
    <%= image_tag current_user.user_prof_pic, class: "max-w-[50px] max-h-[50px] rounded-full" %>
  </div>
<% else %>
  <div class=" flex flex-wrap items-center gap-x-1.5">
    <a class=" py-[7px] px-2.5 inline-flex items-center font-medium text-sm rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 focus:outline-none focus:bg-gray-100 dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 " href="/users/sign_in">
      <%= t('signin') %>
    </a>
    <a class=" py-2 px-2.5 inline-flex items-center font-medium text-sm rounded-lg bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:bg-blue-600 " href="/users/sign_up">
      <%= t('signup') %>
    </a>
  </div>
<% end %>
