<div class="flex flex-col items-center">
  <div class="">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded_field" %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "rounded_field"  %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "rounded_field"  %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="flex flex-col space-y-1">
          <%= f.submit "Log in", class: "rounded_button " %>
          <%= link_to "Sign up" , new_user_registration_path, class: "rounded_button" %>
          <%= link_to "Forgot your password?" , new_password_path(resource_name), class: "rounded_button" %>
      </div>
    <% end %>
  </div>
</div>