<%= form_with model: post do |f| %>
  <div class="prose mx-auto">
    <div>
      <%= f.label t('title') %><br>
      <%= f.text_field :title, class: "rounded_button" %>
    </div>
    <div>
      <%= f.label t('body') %><br>
      <%= f.text_area :body, class: "rounded_button" %><br>
    </div>
    <div>
      <%= f.submit t('createpost'), class: "rounded_button" %>
    </div>
  </div>
  <%= f.label t('postpic') %>
  <%= f.file_field :post_image, class: "mt-[10px]" %><br>
<% end %>
