<%= form_with model: post do |f| %>
  <div class="prose mx-auto">
    <div>
      <%= f.label :title %>
      <br>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :body %><br>
      <%= f.text_area :body %><br>
    </div>
    <div>
      <%= f.submit %>
    </div>
  </div>
  <%= f.label "Profile Photo" %>
  <%= f.file_field :post_image %><br>
<% end %>
