<body class="text-[24px]">
  <div>
    <% @posts.each do |post| %>
      <div class="flex flex-col items-center mx-[10px]">
        <div class="flex flex-row w-[600px] text-start px-[10px] py-[10px] border border-t-0 border-[rgb(44,44,44)] space-x-[10px]">
          <div class="w-[75px] h-[75px]">
            <%= image_tag User.find(post.user_id).user_prof_pic, class: "w-[75px] h-[75px] rounded-full" %>
          </div>
          <div class="flex flex-col items-start text-[16px]">
            <div class="flex flex-row space-x-1">
              <b> <%= User.find(post.user_id).username %> </b>
              <p> <%= User.find(post.user_id).email %> </p>
            </div>
            <%= link_to post.title, post %>
            <%= link_to post, class: "inline-block " do %>
              <% if post.post_image.attached? %>
                <%= image_tag post.post_image, class: "rounded-lg mt-[5px] max-w-[493px]" %>
              <% end %>
            <% end %>
            <% if post.likes.exists?(user: current_user) %>
              <%= link_to unlike_post_path(post), data: {turbo_method: :delete}  do %>
                <%= image_tag 'unlike_button.png', class: "max-w-[25px] max-h-[25px]" %>
              <% end %>
            <% else %>
              <%= link_to like_post_path(post), data: {turbo_method: :post} do %>
                <%= image_tag 'like_button.png', class: "max-w-[25px] max-h-[25px]" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</body>