<body class="text-[24px]">
  <div>
    <% @posts.each do |post| %>
      <div class="flex flex-col items-center mx-[10px]">
        <div class="flex flex-row w-[600px] text-start px-[10px] py-[10px] border border-t-0 border-[rgb(44,44,44)] space-x-[10px]">
          <div class="w-[75px] h-[75px]">
            <%= image_tag User.find(post.user_id).user_prof_pic, class: "w-[75px] h-[75px] rounded-full" %>
          </div>
          <div class="flex flex-col items-start text-[16px]">
            <div class="flex flex-row space-x-1">
              <b> <%= User.find(post.user_id).username %> </b>
              <p> <%= User.find(post.user_id).email %> </p>
            </div>
            <%= link_to post.title, post %>
            <%= link_to post, class: "inline-block " do %>
              <% if post.post_image.attached? %>
                <%= image_tag post.post_image, class: "rounded-lg mt-[5px] max-w-[493px]" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% like = current_user.likes.find_by(post: post) %>
      <% if like.nil? %>
        <form action="/likes" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
          <input type="hidden" name="like[post_id]" value="<%= post.id %>">
          <input type="submit" value="Like">
        </form>
      <% else %>
        <form action="<%= like_path(like) %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Unlike">
        </form>
      <%end%>
    <% end %>
  </div>
</body>