<body>
  <main  class="flex flex-col items-start">
    <!-- ARTICLE TITLE BODY AND IMAGE -->
    <!-- ARTICLE TITLE -->
    <div class="flex flex-col items-center w-full bg-gray-500">
      <h1 class="text-[36px] font-serif"><%= @post.title %></h1>
    </div>
    <!-- ARTICLE BODY -->
    <div class="flex flex-col mx-auto border-x-[1px] border-[rgb(44,44,44)]  ">
      <div class="flex flex-col w-[600px]">
        <div class="p-[10px]">
          <div class="flex flex-row w-full">
            <!-- Profile pic -->
            <div class="min-w-[95px]">
              <%= image_tag (User.find(@post.user_id).user_prof_pic), class: "rounded-full w-[75px] h-[75px] outline outline-1 outline-[rgb(44,44,44)]" %>
            </div>
            <div>
              <strong class="text-[18px] mt-[10px]"> <%= (User.find(@post.user_id).email) %> </strong>
            </div>
          </div>
          <div>
            <p class="text-[18px] flex flex-col mt-0"> <%= @post.body %> </p>
          </div>
          <div class="max-w-full">
            <% if @post.post_image.attached? %>
              <%= image_tag (@post.post_image), class: "rounded-lg w-[600px]" %>
            <% end %>
          </div>
        </div>
        <!-- RENDERING COMMENT SECTION -->
        <div class="">
          <% if @post.comments.count != 0 %>
            <%= render @post.comments %>
          <% end %>
        </div>
        <!-- ADD A COMMENT -->
        <div class="mt-[100px]">
          <%= form_with model: [ @post, @post.comments.build ] do |form| %>
            <p class="mb-4">
              <%= form.label t('newcomment'), class: "block text-gray-700 text-sm font-bold mb-2" %>
              <%= form.text_area :body, class: "px-4 py-2 bg-[rgb(10,10,10)] hover:bg-[rgb(14,14,14)] active:bg-[rgb(18,18,18)]  w-full h-32 p-4 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 shadow-sm" %>
            </p>
            <p> <%= form.submit t('createcomment'),class: "rounded_button my-[10px]" %> </p>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</body>